.discover-page-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.discover-page-list > * {
  margin-top: 15px;
  text-align: center;
}

.discover-track-title {
  margin-top: 2px;
  font-size: 15px;
  color: black;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.discover-track-artist {
  font-size: 13px;
  color: gray;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}