.like-container {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.like-button {
  background: none;
  border: none;
  display: flex;
  align-items: center; 
}

.heart {
  font-size: 20px;
}

.liked {
  cursor: pointer;
  color: red;
}

.not-liked {
  cursor: pointer;
}

.not-liked:hover {
  color: red;
}