.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form > * {
  margin-top: 5px;
}

.login-input {
  margin-left: 20px;
  margin-bottom: 3px;
}

.login-form-box {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  outline: 1px solid black;
  padding: 30px;
  background: white;
  position: relative;
  text-align: center;
}

.welcome-message {
  
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}

.demo-login-button {
  margin: 7px 0;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.form-submit-button {
  text-transform: capitalize;
}

/* .email {
  position: relative;
  left: 1px;
} */

.login-email-label {
  position: relative;
  left: 13px;
}

/* .password {
  position: relative;
  left: 3px;
} */

.login-password-label {
  position: relative;
  left: 2px;
}