.audio-player-main-container {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  z-index: 3;
}


.audio-player-container {
  --primary: #f50;
  --secondary: #ffd200;
  --default-font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif; 
  
  display: flex;
  align-items: center;
  width: 1240px;
}

.forward-backward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.forward-backward:hover {
  color: var(--primary);
}

.play-pause {
  background: none;
  border: none;
  font-size: 30px;
  position: relative;
  top: 4px;
}

.play-pause:hover {
  color: var(--primary);
}


.current-time, .duration {
  font-size: 14px;
  font-family: var(--default-font-family);
  margin-right: 5px;
}

.current-time {
  margin-left: 25px;
  color: var(--primary);
}

.duration {
  margin-left: 5px;
}

.progress-bar-container {
  width: 800px;
}

.progress-bar {
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #265c93;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar -safari */ 

.progress-bar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - firefox */

.progress-bar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progress-bar::-moz-focus-outer {
  border: 0;
}

/* progress bar -chrome and safari */

.progress-bar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar -firebox */

.progress-bar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby - chrome and safari */

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}


/* knobby while draggin - chrome and safari */

.progress-bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby -firefox */
.progress-bar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */

.progress-bar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}