.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 46px;
  width: 100%;
  background-color: #333;
  z-index: 2;
}

.inner-nav-container {
  width: 1240px;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  
}

.logo-link {
  background: linear-gradient(#f70,#f30);
  width: 69px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-img {
  display: block;
  max-width: 50px;
  max-height: 33px;
  width: auto;
  height: auto;
}


.page-nav {
  display: flex;
}

.page-nav-item {
  color: #ccc;
  display: block;
  padding: 15px 0;
  height: 46px;
  box-sizing: border-box;
  text-align: center;
  width: 104px;
  border-right: 1px solid #111;
  text-decoration: none;
  font-family: Interstate,Lucida Grande,Arial,sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

.page-nav-item:hover {
  color: white;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  color: #ccc;
  display: block;
  padding: 15px 0;
  height: 46px;
  box-sizing: border-box;
  text-align: center;
  width: 104px;
  font-family: Interstate,Lucida Grande,Arial,sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

.greeting:hover {
  color: white;
}

.greeting-link {
  text-decoration: none;
}


.auth-button {
  margin-left: 5px;
  background-color: #f50;
  color: rgb(241, 228, 228);
  border: none;
  border-radius: 4px;
  padding: 4px 7px;
  cursor: pointer;
}

.auth-button:hover {
  color: white;
}

.my-links {
  position: absolute;
  height: 46px;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
}

.social-logo {
  height: 30px;
  width: auto;
  margin-right: 7px;
  opacity: 80%;
  transition: opacity .2s ease-in-out;
}

.social-logo:hover {
  opacity: 100%;
}

@media only screen and (max-width: 1475px) {
  .my-links {
    display: none;
  }
}