.nav-bar {
  display: flex;
  justify-content: center;
  height: 46px;
  width: 100%;
  background-color: #333;
}

.inner-nav-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  
}

.logo-link {
  background: linear-gradient(#f70,#f30);
  width: 69px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-img {
  display: block;
  max-width: 50px;
  max-height: 33px;
  width: auto;
  height: auto;
  /* background: white; */
}


.page-nav {
  display: flex;
}

.page-nav-item {
  margin-left: 15px;
}

.personal-greeting {
  display: flex;
}