
.profile-header {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 260px;
}

.profile-background-no-image {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%);
}

.profile-background-image {
  display: block;
  width: 100%;
  height: 100%;
  background: blue;
}