
.profile-header {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 260px;
}

.profile-background-no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%);
}

.profile-background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: blue;
}

.profile-header-info-container {
  width: 95%;
  height: 80%;
  display: flex;
}

.profile-image-container {
  height: 200px;
  width: 200px;
  background-image: linear-gradient(135deg,#70929c,#e6846e);
  border-radius: 50%;
  margin-right: 30px;
}

.profile-image {
 
  width: 100%;
  height: 100%;
  
  
  border-radius: 50%;
}

.upload-image-button {
  position: relative;
  left: 40px;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.upload-image-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.upload-background-image-button {
  position: absolute;
  top: 25px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.upload-camera-img {
  width: 20px;
  opacity: 90%;
}

.profile-info {
  margin-top: 20px;
}

.profile-name {
  background-color: black;
  padding: 5px 7px;
  margin-bottom: 3px;
  font-size: 25px;
  color: white;
}

.profile-description {
  background-color: black;
  font-size: 15px;
  color: white;
}

.profile-nav {
  display: flex;
  width: 50%;
  margin: 15px;
  margin-left: 30px;
}

.profile-nav > * {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 18px;
  line-height: 1.8;
  border-bottom: 3px solid white;
}

.profile-nav > *:hover {
  border-bottom: 3px solid black;
}