.track-show-header {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 400px;
}


.track-show-background-no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%);
}

