.track-show-header {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 380px;
}


.track-show-background-no-image {
  display: flex;
  
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: rgb(166, 183, 219);
  /* background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%); */
}

.track-show-image-container {
  width: 340px;
  height: 340px;
  margin: 20px;
}

.track-show-image {
  height: 100%;
  width: 100%;
}

.track-show-header-info {
  display: flex;
}

.track-show-play-pause {
  width: 60px;
  height: 60px;
  background: linear-gradient(#f70,#f30);
  color: #fff;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 40px;
  border: none;
  border-radius: 50%;
}

.track-show-header-artist {
  background-color: black;
  color: #fff;
}

.track-show-header-title {
  background-color: black;
  color: #fff;
}