.track {
  width: 60%;
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  
}

.play-track-button {
  width: 300px;
  height: 300px;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}


.track-image-container {
  background: white;
  width: 300px;
  height: 300px;
  z-index: -1;
}


.track-image {
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: opacity .2s ease-in-out;
}

.track-image-container:hover > .play-track-button > .track-image {
  opacity: 50%;
}


.play-text {
  font-size: 20px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  opacity: 0%;
  transition: opacity .2s ease-in-out;
}

.track-image-container:hover + .play-text {
  opacity: 100%;
}

.track-right-container {
  text-align: left;
  margin-left: 20px;
}

.track-title {
  font-size: 30px;
  font-weight: 600;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.track-artist-name {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}