.track-show-header {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 380px;
}


.track-show-background-no-image {
  display: flex;
  
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: rgb(166, 183, 219);
  /* background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%); */
}

.track-show-image-container {
  width: 340px;
  height: 340px;
  margin: 20px;
}

.track-show-image {
  height: 100%;
  width: 100%;
}

.track-show-header-info {
  display: flex;
  margin-top: 40px;
  margin-left: 40px;
}

.track-show-play-pause-button {
  width: 80px;
  height: 80px;
  background: linear-gradient(#f70,#f30);
  color: #fff;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.track-show-play-pause-button:hover {
  opacity: 80%;
}

.track-show-play {
  position: relative;
  left: 5px;
  font-size: 60px;
}

.track-show-pause {
  position: relative;
  font-size: 60px;
}

.track-show-header-artist-container {
  display: flex;
}

.track-show-header-artist {
  background-color: black;
  color: #fff;
  font-size: 17px;
  padding: 6px;
  margin-bottom: 5px;
  
}

.track-show-header-title {
  background-color: black;
  color: #fff;
  font-size: 27px;
  padding: 8px;
}

.track-show-comment-form-container {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 40px;
  display: flex;
}

.track-show-comment-form {
  display: flex;
  align-items: center;
}

.track-show-comment-form > img {
  width: 40px;
  height: 40px;
}

.track-show-comment-input-container {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.track-show-comment-input {
  width: 765px;
  height: 20px;
  margin: 0 5px;;
}

.track-show-bottom-section {
  margin-left: 25px;
  display: flex;
}

.track-show-artist-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-show-artist-section > h1 {
  font-size: 16px;
}

.track-show-artist-image-container {
  width: 122px;
  height: 122px;
  
}

.track-show-artist-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.track-show-comments-section {
  margin-left: 40px;
}

.track-show-comments-section > h1 {
  color: gray;
  font-size: 16px;
  display: flex;
  align-items: center;
}