
.upload-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-inner-container {
  border: 3px solid black;
  height: 500px;
  width: 700px;
  margin-top: 200px;
  margin-bottom: 400px;
}

.upload-track-form {
  width: 100%;
  height: 100%;
  display: flex;
}

.upload-track-form-left {
  height: 100%;
  width: 50%;

}

.upload-track-form-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.upload-track-image-container {
  height: 260px;
  width: 260px;
  background-image: linear-gradient(135deg,#70929c,#e6846e);
  position: relative;
  top: 100px;
  left: 43px;
}

.upload-track-image-button {
  position: relative;
  left: 115px;
  bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.upload-track-image {
  width: 100%;
  height: 100%;
}

.upload-title-label {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: bold;
}

.upload-title-input {
  margin-bottom: 20px;
  
}

.upload-music-button-group {
  margin-bottom: 40px;
}

.upload-music-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;

}

.upload-music-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-note-img {
  width: 20px;
  opacity: 90%;
}